h1	{
	font-size: 30px;
	text-align: center;
	color: blue;
}
h2	{
	font-size: 20px;
	text-align: left;
	color: Red;
	margin-top: 100px;
}
p{
	color: black;
	text-align: wrap;
}
li{
	margin-top: 20px;
}
#top{
	background: grey;
	text-align: center;
}
body{
	background-color: #d3d3d3;
}